<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      APP PERSONAL DE LUIS GOMEZ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../../assets/3.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Luis Javier Castro Gómez</ion-card-title>
      <ion-card-subtitle>Estudiante de Ingenieria en Informatica</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Soy alumno del tecnologico superior de la region sierra que esta en octavo semestre con la edad de 21 años el
        cual le gusta jugar brawl stars
      </p>
    </ion-card-content>
  </ion-card>


</ion-content>